.tags-container {
    padding: 20px;
    font-family: Arial, sans-serif;

    h1 {
        text-align: center;
        margin-bottom: 30px;
    }

    h2 {
        margin: 20px 0;
        font-size: 1.5rem;
        color: #333;
    }

    .tags-table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 40px;

        th,
        td {
            padding: 10px 15px;
            border: 1px solid #ddd;
            text-align: left;
        }

        th {
            background-color: #f4f4f4;
            font-weight: bold;
        }

        tbody tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tbody tr:hover {
            background-color: #f1f1f1;
        }

        td {
            font-size: 0.9rem;
        }
    }
}

.page-top-div {
    display: flex;
    justify-content: end;
    gap: 10px;

    .input-container {
        width: 100%;
        position: relative;

        .icon {
            position: absolute;
            right: 10px;
            top: calc(50% + 5px);
            transform: translateY(calc(-50% - 5px));
        }

        .search-input {
            box-sizing: border-box;
            width: 100%;
            height: 40px;
            padding: 10px;
            transition: .2s linear;
            border: 2.5px solid var(--colorblack);
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 2px;
            outline: none;
        }

        .search-input:focus {
            outline: none;
            border: 0.5px solid var(--colorblack);
            box-shadow: -5px -5px 0px var(--colorblack);
        }

        .input-container:hover>.icon {
            animation: anim 1s linear infinite;
        }

        @keyframes anim {

            0%,
            100% {
                transform: translateY(calc(-50% - 5px)) scale(1);
            }

            50% {
                transform: translateY(calc(-50% - 5px)) scale(1.1);
            }
        }
    }

    .try-button {
        width: 250px;
        height: 40px;

        button {
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            padding: 10px;
            transition: 0.2s linear;
            border: 2.5px solid var(--colorblack);
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 2px;
            outline: none;
            background-color: transparent;
            text-decoration-line: none;
            cursor: pointer;
        }

        button:focus {
            outline: none;
            border: 0.5px solid var(--colorblack);
            box-shadow: -5px -5px 0px var(--colorblack);
        }
    }
}